#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.custom_file_uploader path {
  fill: #ffc901;
}

.custom_file_uploader {
  border: dashed 2px #ffc901 !important;
}


.wrapper-app {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "main-head" 
    "content-upload"
    "list-images"

}

.main-head {
  grid-area: main-head;
}


.content-upload {
  grid-area: content-upload;
  margin: auto;
}

.list-images {
  grid-area: list-images;
  margin: auto;
}